<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payot_poin.poin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Page.Splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Page.Login.LoginActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Page.Signup.SignupActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Page.Main.MainActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Page.Payment.PaymentActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Page.CardAdd.CardAddActivity"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>